@font-face {
  font-family: 'AvenirRegular';
  src: url('../fonts/AvenirNextLTPro-Regular.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

html {
  --card-color: #cacaca;
  --text-color: #e1e1e1;
}

.containerC {
  font-family: "AvenirRegular", sans-serif;
  margin: auto;
  width: 100%;
}
.containerC .col1 {
  perspective: 1000;
  transform-style: preserve-3d;
}


.containerC .col1 .cardCredit {
  width: 280px;
  height: 166.7px;
  position: relative;
  border-radius: 17px;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1);
  transition: all 1s;
  transform-style: preserve-3d;
}

@media (min-width: 500px) {
  .containerC .col1 .cardCredit {
    width: 420px;
    height: 250px;
  }
  
}

.containerC .col1 .cardCredit .front {
  position: absolute;
  background: var(--card-color);
  border-radius: 17px;
  padding: 33.3px;
  width: 100%;
  height: 100%;
  transform: translateZ(1px);
  -webkit-transform: translateZ(1px);
  transition: background 0.3s;
  z-index: 50;
  background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), -webkit-linear-gradient(-245deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .containerC .col1 .cardCredit .front {
    padding: 50px;
  }
}

.containerC .col1 .cardCredit .front .type {
  position: absolute;
  width: 50px;
  height: 30px;
  top: 13.3px;
  right: 13.3px;
}

@media (min-width: 500px) {
  .containerC .col1 .cardCredit .front .type {
    width: 75px;
    height: 45px;
    top: 20px;
    right: 20px;
  }
}


.containerC .col1 .cardCredit .front .type img {
  width: 100%;
  float: right;
}

img[data-name='default'] {
  filter:opacity(.2)
}


.containerC .col1 .cardCredit .front .card_number {
  position: absolute;
  font-size: 17.3px;
  font-weight: 500;
  letter-spacing: -1px;
  top: 73.3px;
  color: var(--text-color);
  word-spacing: 3px;
  transition: color 0.5s;
}

@media (min-width: 500px) {
  .containerC .col1 .cardCredit .front .card_number {
    font-size: 26px;
    top: 110px;
  }
}


.containerC .col1 .cardCredit .front .date {
  position: absolute;
  bottom: 26.7px;
  right: 36.7px;
  width: 60px;
  height: 23.3px;
  color: var(--text-color);
  transition: color 0.5s;
}

@media (min-width: 500px) {
  .containerC .col1 .cardCredit .front .date {
    bottom: 40px;
    right: 55px;
    width: 90px;
    height: 35px
  }
}

.containerC .col1 .cardCredit .front .date .date_value {
  font-size: 8px;
  position: absolute;
  margin-left: 14.7px;
  margin-top: 8px;
  color: var(--text-color);
  font-weight: 500;
  transition: color 0.5s;
}

@media (min-width: 500px) {
  .containerC .col1 .cardCredit .front .date .date_value {
    font-size: 12px;
    margin-left: 22px;
    margin-top: 12px;
  }
}


.containerC .col1 .cardCredit .front .date:before {
  content: "VALIDA\aHASTA";
  position: absolute;
  display: block;
  font-size: 3.3px;
  white-space: pre;
  margin-top: .7rem;
}

@media (min-width: 500px) {
  .containerC .col1 .cardCredit .front .date:before {
    font-size: 5px;
  }
}

.containerC .col1 .cardCredit .front .fullname {
  position: absolute;
  font-size: 8.7px;
  bottom: 26.7px;
  color: var(--text-color);
  transition: color 0.5s;
  text-transform: uppercase;
}

@media (min-width: 500px) {
  .containerC .col1 .cardCredit .front .fullname {
    font-size: 13px;
    bottom: 40px;
  }
}


.containerC .col1 .cardCredit .back {
  position: absolute;
  width: 100%;
  border-radius: 17px;
  height: 100%;
  background: var(--card-color);
  transform: rotateY(180deg);
}

.containerC .col1 .cardCredit .back .magnetic {
  position: absolute;
  width: 100%;
  height: 33.3px;
  background: rgba(0, 0, 0, 0.7);
  margin-top: 16.7px;
}

@media (min-width: 500px) {
  .containerC .col1 .cardCredit .back .magnetic {
    height: 50px;
    margin-top: 25px;
  }
}

.containerC .col1 .cardCredit .back .bar {
  position: absolute;
  width: 80%;
  height: 24.7px;
  background: rgba(255, 255, 255, 0.7);
  left: 6.7px;
  margin-top: 66.7px;
}


@media (min-width: 500px) {
  .containerC .col1 .cardCredit .back .bar {
    height: 37px;
    left: 10px;
    margin-top: 100px;
  }
}

.containerC .col1 .cardCredit .back .seccode {
  font-size: 8.7px;
  color: var(--text-color);
  font-weight: 500;
  position: absolute;
  top: 66.7px;
  right: 26.7px;
  margin-top: .5rem;
}

@media (min-width: 500px) {
  .containerC .col1 .cardCredit .back .seccode {
    font-size: 13px;
    top: 100px;
    right: 40px;
  }
}


.containerC .col1 .cardCredit .back .chip {
  bottom: 30px;
  left: 6.7px;
}

@media (min-width: 500px) {
  .containerC .col1 .cardCredit .back .chip {
    bottom: 45px;
    left: 10px;
  }
}

.containerC .col1 .cardCredit .back .disclaimer {
  position: absolute;
  width: 65%;
  left: 53.3px;
  color: #f1f1f1;
  font-size: 5.3px;
  bottom: 36.7px;
}

@media (min-width: 500px) {
  .containerC .col1 .cardCredit .back .disclaimer {
    left: 80px;
    font-size: 8px;
    bottom: 55px;
  }
}

.containerC .col2 .ccv {
  width: 30%;
}

.chip {
  position: absolute;
  width: 36.7px;
  height: 26.7px;
  background: #bbb;
  border-radius: 7px;
}

@media (min-width: 500px) {
  .chip {
    width: 55px;
    height: 40px;
  }
}

.chip:after {
  content: "";
  display: block;
  width: 23.3px;
  height: 16.7px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ddd;
}

@media (min-width: 500px) {
  .chip:after {
    width: 35px;
    height: 25px;
  }
}


.checkAyT label {
  font-size: 12px;
}