/*import fonts*/

@font-face {
    font-family: 'AvenirBold';
    src: url('../fonts/AvenirNextLTPro-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'AvenirRegular';
    src: url('../fonts/AvenirNextLTPro-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'AntipastoRegular';
    src: url('../fonts/AntipastoPro-Medium_trial.ttf') format('truetype');
}

@font-face {
    font-family: 'AntipastoLight';
    src: url('../fonts/AntipastoPro-Light_trial.ttf') format('truetype');
}

@font-face {
    font-family: 'AntipastoBold';
    src: url('../fonts/AntipastoPro-Bold_trial.ttf') format('truetype');
}

@font-face {
    font-family: 'AntipastoPro-Medium_trial';
    src: url('../fonts/AntipastoPro-Medium_trial.ttf') format('truetype');
}

@font-face {
    font-family: 'AntipastoPro-DemiBold_trial';
    src: url('../fonts/AntipastoPro-DemiBold_trial.ttf') format('truetype');
}

@font-face {
    font-family: 'AntipastoPro-Light_trial';
    src: url('../fonts/AntipastoPro-Light_trial.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNext-Medium';
    src: url('../fonts/AvenirNext-Medium.ttf') format('truetype');
}


/* redim */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0366d6;
}

.n-cursor button {
    outline: 0;
    cursor: default !important;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


/* General */

html {
    font-size: 14px;
    min-height: 100%;
    position: relative;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

select {
    color: #8c8c8c;
}


/* Styles */

@media (min-width: 1024px) {
    .container {
        width: 95%;
    }
}


/* Nav */

.NavSact {
    font-family: "AvenirNext-Regular", Helvetica, Arial, serif;
    font-size: 22.0px;
    color: #0366d6 !important;
    line-height: 30.0px;
    outline: none !important;
    background: none;
}

.NavSact:hover {
    font-family: "AvenirNext-Regular", Helvetica, Arial, serif;
    font-size: 22.0px;
    color: #FFF !important;
    border: 2px solid rgb(155, 190, 255);
    background-color: #0366d6;
}

.navimg {
    height: auto;
    width: 200px;
    padding: 1rem .5rem;
    max-width: 100%;
}

.TextS {
    font-family: 'AvenirBold';
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .TextS {
        font-family: 'AvenirBold';
        font-size: 1.2rem;
    }
}

.TextS:hover {
    font-family: 'AvenirBold';
}


/* form */

legend {
    font-family: 'AvenirRegular';
    font-size: .8rem;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

.field input {
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    font-family: 'AvenirBold';
    font-size: 14px;
    color: #464646;
    border: none;
    border-bottom: 2px solid #464646;
}

.form-floating input:focus {
    outline: 0;
    color: #0366d6;
    box-shadow: none;
    border-color: #0366d6;
    background: rgba(31, 134, 252, 0.15);
    transition: background 0.5s;
}

.form-floating input:focus+label {
    color: #0366d6 !important;
}

.form-floating label {
    transition: 300ms all !important;
}

.Ajusttex {
    font-family: 'AvenirRegular' !important;
    font-size: 14px !important;
    color: #464646 !important;
}


/* Select2 Modification */

.custom-select select {
    width: 100%;
    height: 100%;
}

.custom-select span {
    border: none;
    font-family: 'AvenirBold' !important;
    font-size: 14px;
}

.custom-select>span {
    border-bottom: 2px solid #464646;
    padding: 6px 0 !important;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

.custom-select {
    padding: 0.625rem 0;
}

.select2-container--focus {
    outline: 0;
    border-color: #0366d6 !important;
}

.select2-selection[aria-expanded="true"] span {
    color: #0366d6 !important;
}

.select2-results__option--disabled {
    color: #6c757d !important;
}

.optionS {
    font-family: 'AvenirBold' !important;
    font-size: 14px;
    padding: 0 1rem;
}

.radioCh {
    margin: 2px 5px;
}

.radioCh label {
    font-family: 'AvenirRegular' !important;
    font-size: 14px;
}


/* Toogle especialidad */

.checkEsp {
    position: relative;
}

.formEspecialidad {
    position: absolute;
    z-index: 999;
}

.formEspecialidad {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10%);
    top: 13px;
    left: -10px;
    transition: all 0.5s ease-in-out;
    background: white;
    width: 12rem;
    border-radius: 5px;
    transform: translateY(0%);
    box-shadow: 2px 3px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #8c8c8c;
}

.formEspecialidad .custom-select>span {
    border: none;
}

.formEspecialidad .field {
    background-color: #fff;
    margin-bottom: 1rem;
}

.showEspecialida {
    visibility: visible;
    opacity: 1;
    transform: translateY(10%);
}


/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background: #0366d6;
}

.Ftext {
    font-size: 14px !important;
    font-family: 'AvenirBold';
}

#canvas {
    margin: 0 auto;
    background: #ececec;
    width: 100%;
}