html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
body {
    background-color: #fff;
    font-family: 'Karla', sans-serif;
}

@media (min-width: 1200px) {
    .w49 {
    width: 49% !important ;
    }
  }

.intro-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 75px 95px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;

    @media (max-width: 991px) {
        padding-left: 50px;
        padding-rigth: 50px;
    }

    @media (max-width: 767px) {
        padding: 28px 28px 12px 28px;
    }

    @media (max-width: 575px) {
        min-height: auto;
    }
}

.intro-doctor {
    background-image: url(../images/intro-bg.jpg);
}
.intro-paciente {
    background-image: url(../images/intro-bg-2.jpg);
}

.intro-section:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00284eb9;
}
  
.intro-content-wrapper,.brand-wrapper, .intro-section-footer {
    position: relative;
}

.brand-wrapper {
    .logo {
        height: 50px;
    }

    @media (max-width: 767px) {
        margin-bottom: 50px;
    }
}

.infoResp {
    cursor: pointer;
  }
  
  .infoResp i{
    font-size: 1.5rem;
  }
  
  @media (max-width: 576px) {
    .propositos{
      display: none;
    }
  }
  

.intro-content-wrapper {
    width: 371px;
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto;

    .intro-title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 18px;
    }

    .intro-text {
        font-size: 14px;
        line-height: 1.29;
        color: #ffffff;
    }

    .btn-read-more {
        background-color: #fff;
        padding: 13px 30px;
        border-radius: 0;
        font-size: 16px;
        font-weight: bold;
        color: #000;

        &:hover {
            background-color: transparent;
            border: 1px solid #fff;
            color: #fff;
        }
    }
}

.obj {
    height: 50px;
    display: flex;
    align-items: center;
  
  .icon{
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: #f39c12;
      display: flex;
      justify-content:center;
      align-items: center;
      margin-right: .6rem;
  }
  
  .icon i {
    font-size: 12px;
  }
  
  .obj p {
    display: block;
    margin: auto 0;
  }

}

.intro-section-footer {
    @media (max-width: 767px) {
        margin-top: 35px;
    }

    p {
        font-size: 14px;
        color: #f6f6f6;
        margin-bottom: 0;
    }
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
        padding: 35px;
    }

    @media (max-width: 575px) {
        padding: 26px;
    }

}

.login-wrapper {
    width: 40%;
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto;

    
    @media (max-width: 992px) {
    .login-wrapper {
      width: 95%;
    }
    }

    .form-control {
        min-height: 55px;
        border: 0;
        border-radius: 4px;
        font-size: 15px;
        background-color: #f4f4f4;
        padding: 19px 25px 18px;
        margin-bottom: 18px;

        &::placeholder {
            color: #919aa3;
        }
    }
}

.form-floating label {
    transition: 400ms all !important;
}

.pass {
    position: relative;
  }

  .password-view {
    position: absolute;
    top: 40%;
    right: 0%;
    margin-right: 20px;
    font-size: 15px;
    color: #919aa3;
    cursor: pointer;
  }

.login-title {
    font-size: 29px;
    color: #0d2366;
    margin-bottom: 18px;
}

.login-btn {
    padding: 17px 40px 16px 41px;
    border-radius: 4px;
    background-color: #0984e3;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    line-height: 20px;

    &:hover {
        border: 1px solid #0984e3;
        background-color: transparent;
        color: #0984e3;
    }
}

.forgot-password-link {
    font-size: 14px;
    color: #919aa3;
}

.login-wrapper-signup-text {
    font-size: 18px;
    color: #000;
    padding-top: 40px;
    width: 410px;
    max-width: 100%;

    @media (max-width: 575px) {
        order: 1;
    }

    a {
        color: #240aad;
    }
}