/* fallback */
@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/material-icons.woff2') format('woff2');
  }
  
  .material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
  }



/* Ajustes lib */

.bgBlue {
    background-color: #218cfe !important;
    background-image: linear-gradient(310deg, #218cfe 0%, #218cfe 100%) !important;
}

.sidebar[data-color="bluDoc"]:after,
.bootstrap-navbar[data-color="bluDoc"]:after {
    /* background: linear-gradient(0deg,#335af4,#1d8bf8); */
    background: #1087e3;
    background-size: auto;
    background: -moz-linear-gradient(top, #1087e3 0%, rgba(51, 118, 211, 0.4) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1087e3), color-stop(100%, rgba(51, 118, 211, 0.4)));
    background: -webkit-linear-gradient(top, #1087e3 0%, rgba(51, 118, 211, 0.4) 100%);
    background: -o-linear-gradient(top, #1087e3 0%, rgba(51, 118, 211, 0.4) 100%);
    background: -ms-linear-gradient(top, #1087e3 0%, rgba(51, 118, 211, 0.4) 100%);
    background: linear-gradient(to bottom, #1087e3 0%, rgba(51, 118, 211, 0.4) 100%);
        background-size: auto;
    background-size: 150% 150%;
}

.btn-bluDoc {
    border: 1px solid #218cfe;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
    color: #FFFFFF;
    background-color: #218cfe;
    cursor: pointer;
}

.navsid .nav-item .nav-link {
    display: flex;
    align-items: center;
}

.navsid .nav-item .nav-link i {
    float: none !important;
}


.navsid .nav-item.active {
    position: relative;
}


.navsid .nav-item.active > a:not([data-toggle="collapse"]):before {
    border-right: 17px solid #cfcfca;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    opacity: 1;
    top: 7px;
    transition: opacity 150ms ease-in;
}

.navsid .nav-item.active > a:not([data-toggle="collapse"]):after {
    border-right: 17px solid #f4f3ef;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: -1px;
    opacity: 1;
    top: 7px;
    transition: opacity 150ms ease-in;
}















.hvr-sweep-to-left::before {
    background-color: #f8f9fa !important;
    border-radius: 0.5rem !important;
}
.hvr-sweep-to-left:hover{
    color: #252f40!important;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05) !important;
}

.hvr-sweep-to-left:hover .icon {
    background-image: linear-gradient(310deg, #218cfe 0%, #218cfe 100%) !important;
}

.hvr-sweep-to-left:hover .icon path {
   fill: #fff !important;
}